@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, p {
    margin: 0;

}

ul {
    list-style: none;
}

.menu_ul li a {
    text-decoration: none;
    color: inherit;
}

.w_1200 {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #FFF2D8;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.logoBox {
    width: 250px;
    height: 100%;
    font-family: 'Dovemayo_gothic';
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    float: left;
}

.logoBox > div:nth-of-type(1) {
    width: 100px;
    height: 100px;
}

.logoBox > div:nth-of-type(1) > img {
    width: 100%;
}

.animalBox {
    width: 200px;
    font-family: 'Dovemayo_gothic';
    font-size: 25px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;
    bottom: 5vh;
    right: -35px;

    z-index: 99998;
}

.animalBox > img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.animalBox > div {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.animalBox > div > img {
    width: 100%;
}

.animalBox > p {
   margin-top: 5px;
    margin-left: 20px;
}

.menu_ul {
    font-family: 'Dovemayo_gothic';
    font-weight: bold;
    font-size: 25px;
}

.menu_ul > li {
    float: left;
    padding: 0 20px;
}

#content2,
#content4 {
    scroll-behavior: smooth;

}


/* ************************************************** */
/* ********************** main ********************** */
/* ************************************************** */
.main {
    height: auto;
    padding-top: 100px;
    background-color: #EAD7BB;

}

.content1 {
    height: 700px;
    background-color: #EAD7BB;

    position: relative;
}

.nameBox {
    /* width: 1200px;
    height: 100%;
    margin: 0 auto; */

    font-family: 'Dovemayo_gothic';
    font-size: 300px;
    opacity: 0; /* 처음에는 글자를 숨기기 위해 투명도를 0으로 설정 */
    transition: opacity 1s ease-in-out; 

    line-height: 200% ;
}

.nameBox1 {
    font-family: 'Dovemayo_gothic';
    font-size: 30px;

    opacity: 0; /* 처음에는 글자를 숨기기 위해 투명도를 0으로 설정 */
    /* transition: opacity 1s ease-in-out;  */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content2 {
    height: 1000px;
    padding-top: 100px;
    box-sizing: border-box;

    background-color: #BCA37F;
}

.infoBox {
    width: 450px;
    height: 800px;
    
    border-radius: 30px 0px 30px 0px ;
    border: 5px solid white;

    font-size: 20px;
    position: relative;
}

.picture {
    width: 300px;
    height: 300px;
    overflow: hidden;

    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 0px 30px 30px 30px;

    position: absolute;
    top: 70px;
    left: 80px;
}

.picture img {
    width: 100%;
}

.infoBox div:nth-of-type(2) {
    position: absolute;
    top: 430px;
    left: 70px;

    font-family: 'Dovemayo_gothic';
    font-size: 25px;

}

.infoBox span {
    font-family: 'Dovemayo_gothic';
    position: absolute;
    top: 380px;
    left: 200px;
}

.infoBox span:nth-of-type(1) {
    font-size: 30px;
    margin-left: 50px;

    font-size: 30px;
    position: absolute;
    top: 370px;
    left: 100px;
}

.infoBox > img {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 370px;
    left: 270px;
}

.infoBox div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 60px;
}

.infoBox div:nth-of-type(2) p {
    margin-top: 25px;
}

.infoBox1 {
    width: 650px;
    height: 810px;

    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Dovemayo_gothic';
    font-size: 20px;
    border-radius: 30px 0px 30px 0px;
    background-color: white;

    margin-left: 50px;
}

.infoBox1 div {
    width: 500px;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.education p:nth-of-type(1),
.career p:nth-of-type(1),
.certificate p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 15px;
}

.content3 {
    height: 1000px;
    background-color: #113946;
    padding-top: 30px;
    box-sizing: border-box;

    font-family: 'Dovemayo_gothic';
}

/* .skill {
    width: 1160px;
    height: 800px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
} */

.skill {
    display: flex;
    flex-wrap: wrap;
}

.stackBox {
    width: calc(1110px / 2);
    height: calc(750px / 2);
    background-color: white;

    padding: 30px;
    box-sizing: border-box;
    
}

.stackBox:nth-of-type(odd) {
    margin-right: 50px;
    margin-bottom: 50px;
}

.stackBox > p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content3 > .w_1200 > p {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

.stackBox div {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    /* background-color: skyblue; */
    float: left;
}

.stackBox div:nth-of-type(odd) {
    margin-right: 80px;
    margin-bottom: 25px;
}

.stackBox div > img {
    width: 80px;
    height: 80px;
}

.stackBox div > p{
    font-size: 30px;
    margin-left: 10px;
}
.content4 {
    height: 1000px;
    background-color: #BCA37F;
    padding-top: 30px;
    box-sizing: border-box;

    font-family: 'Dovemayo_gothic';
}

.content4 > .w_1200 > p {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

.pofol1, .pofol2, .pofol3, .pofol4 {
    width: 1160px;
    height: 800px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title > p {
    font-size: 30px;
}

.contentsBox {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;

    display: flex;
}

.captureBox {
    width: 550px;
    height: calc(550px * 1.15);
    border: 10px solid #113946;
    border-radius: 30px 0px 30px 0px;
    box-sizing: border-box;
    overflow: hidden;

    margin-top: 40px;
}

.captureBox > img {
    width: 100%;
    height: 100%;
}

.explainBox {
    width: calc(100% - 550px - 50px);
    margin-top: 40px;
    margin-left: 50px;

    position: relative;
}

.explainBox > div:nth-of-type(1) {
    margin-bottom: 25px;
}

.listStyle,
.listStyle1,
.listStyle2 {
    font-size: 22px;
    margin-bottom: 25px;
}

.listStyle1 + div > div:nth-of-type(1) > p:nth-of-type(1) {
    float: left;
    width: 48px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.listStyle1 + div > p:nth-of-type(2){
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.listStyle1 + div > div:nth-of-type(2) > p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
    margin-right: 10px;

    float: left;
}

.listStyle1 + div > div:nth-of-type(2) > div {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;

    /* background-color: skyblue; */
    float: left;
}

.listStyle2 + div > p:nth-of-type(1) {
    float: left;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.explainBox > div:nth-of-type(3) > div:nth-of-type(2) > p:nth-of-type(1) {
    float: left;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;

}

.listStyle2 + div > div:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
}

.explainBox > div:nth-of-type(3) {
    position: absolute;
    top: 430px;
    left: 0;
}

.explainBox > div:nth-of-type(3) > div {
    margin-bottom: 20px;
}

.explainBox > div:nth-of-type(1) > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.explainBox > div > div > span {
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFF2D8;
}

button[id="blueHorizon"],
button[id="orriChungsan"] {
    font-family: 'Dovemayo_gothic';
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: white;

    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #113946;

    position: absolute;
    bottom: -30px;
    right: 0;
    cursor: pointer;
}




.content5 {
    height: 1000px;
    background-color: #FFF2D8;
    padding-top: 30px;
    box-sizing: border-box;
    font-family: 'Dovemayo_gothic';
}

.content5 > .w_1200 > p,
.content6 > .w_1200 > p,
.content7 > .w_1200 > p,
.content8 > .w_1200 > p  {
    font-size: 40px;
    margin-bottom: 20px;
}

.content6 > .w_1200 > p {
    color: white;
}

.content6 {
    height: 1000px;
    background-color: #113946;
    padding-top: 30px;
    box-sizing: border-box;

    font-family: 'Dovemayo_gothic';
}

.content7 {
    height: 1000px;
    background-color: #BCA37F;
    padding-top: 30px;
    box-sizing: border-box;

    font-family: 'Dovemayo_gothic';
}

.content8 {
    height: 1000px;
    background-color: #FFF2D8;
    padding-top: 30px;
    box-sizing: border-box;

    font-family: 'Dovemayo_gothic';
}












.footer {
    height: 300px;
    background-color: #113946;
}
